@model IEnumerable<Another.Models.Uploads>
    
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Content Uploads</h1>
<br />
<div>
    <a class="btn btn-primary" asp-action="Create">Upload new content</a>
</div>
<br />
@foreach (var up in Model)
{
    <div class="Content">
        <span>Posted by: @up.UserId</span>
        <span>Subject name : @up.Subject_Name ; Subject code: @up.Subject_Code </span>
        <div>
            @up.Description
            @up.Hashtags
        </div>
        <div>
            @up.file_Upload
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@up.Id">Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@up.Id">Delete</a>
        </div>
    </div>
    <br />
}
<hr />
@*<a class="create" asp-action="Create">Upload new content</a>*@